@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
  background-color: v.$secundario;
  color: v.$blanco;

  &__grid {
    padding: 5rem 0;
    @include m.desktop {
      @include m.grid(4, 4rem);
    }
  }
  &__logo {
    margin: 0 auto 5rem auto;
    max-width: 20rem;
    @include m.desktop {
      margin-bottom: 0;
    }
  }
  &__widget {
    margin-bottom: 2rem;
    @include m.desktop {
      margin-bottom: 0;
    }

    &-titulo {
      color: v.$primario;
      text-align: left;
      @include m.desktop {
        margin-bottom: 5rem;
      }
    }
  }

  &__nav {
    &-link {
      color: v.$blanco;
      display: block;
      margin-bottom: 1rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__copyright {
    border-top: 0.2rem solid v.$primario;
    color: v.$blanco;
    font-size: 1.2rem;
    margin: 0 auto;
    max-width: 120rem;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
  }
}
